.banner{
    background-color: #CDFC51;
    padding-top: 150px;
    padding-bottom: 150px;
}


.footer{
    background: linear-gradient(180deg, rgba(205, 252, 81, 0) 0%, #CDFC51 100%);
}

.login{
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}



/* =====Request Process css start here===== */
form.process__form, #request__process{
    text-align: unset;
}

form.process__form label, .feedback p {
    font-size: 18px;
    font-weight: 500;
}

.feedback p{
    margin: 40px 0 20px;
}

.feedback__pill a {
    font-size: 16px;
    font-weight: 400;
    color: var(--p--border);
    display: inline-block;
    border: 1px solid  var(--p--border);
    padding: 4px 14px;
    margin-bottom: 9px;
    border-radius: 20px;
}

.feedback__pill a:first-child {
    margin-right: 10px;
}

.request__content .title h2 {
    font-size: 32px;
    font-weight: bold;
}

.request__content .title {
    margin-bottom: 40px;
}

.request__content .content h4 {
    font-size: 20px;
    font-weight: bold;
}

.request__content .content {
    margin-bottom: 20px;
}

.request__content .content:nth-child(3){
    margin-bottom: 60px;
}
















.upload__form [type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
  }

  [type="file"] + label {
    background: #e3e3e3;
    border: none;
    border: 1px dashed #AAAAAA;
    border-radius: 5px;
    cursor: pointer;
    height: 520px;
    max-width: 328px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper textarea#question {
    outline: none;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid #AAAAAA;
    width: 328px;
    height: 140px;
}

form.login__form.process__form.upload__form label {
    display: flex;
    flex-direction: column;
}

form.login__form.process__form.upload__form label p {
    font-size: 20px;
    font-weight: 400;
    color: #007AFF;
}

/* form.login__form.next__button{
    margin: unset;
    margin-left: auto !important;
} */

@media screen and (max-width: 767px) {
    form.login__form.next__button{
        margin: auto !important;
    }
}

@media screen and (max-width: 424px) {
    /* [type="file"] + label{
        width: 100%;
    } */

    .wrapper textarea#question{
        width: 100%;
    }
}

.play__payment {
    height: 520px;
    max-width: 328px;
    margin: auto;
}

.play__payment img{
    width: 100%;
    height: auto;
    cursor: pointer;
}

.request__content.payment__content .content:nth-child(3) {
    margin-bottom: 20px;
}


/* =====Request Process css end here===== */

/* B12 */
.B12__finance {
    max-width: 328px;
    margin: auto;
}

.B12__finance .finance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color:  var(--p--border);
}

.B12__finance h4 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.second__step .payment__way {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    .request__content.payment__content {
        margin-top: 40px;
    }
}

.second__step .payment__way a {
    width: 103px;
    padding: 14px 0;
    text-align: center;
    border: 1px solid  var(--p--border);
    margin-bottom: 8px;
    color:  var(--p--border);
    opacity: 0.4;
}

.second__step .payment__way a:hover{
    opacity: 1;
}

.second__step {
    margin: 60px 0;
}

.third__step p {
    font-size: 14px;
}

@media screen and (max-width: 375px) {
    .second__step .payment__way{
        justify-content: space-evenly;
    }
}

/* B12 */


/* B1 */
.B1__main {
    max-width: 328px;
    margin: auto;
    text-align: center;
    font-family: var(--p--font1);
}

.B1__main h4 {
    margin: 24px 0 10px;
    font-size: 16px;
    font-weight: bold;
}

.B1__main p {
    font-size: 12px;
    font-weight: 500;
}
/* B1 */


/* tablet page start */
.card__box.music__box.tablet__box .box__content{
    bottom: 20px;
}

.card__box.music__box.tablet__box{
    max-width: 590px;
}

.card__box.music__box.tablet__box:first-child{
    margin-right: 20px;
}

.box__content.box__outter {
    position: unset;
    display: none;
}

.box__content.box__inner{
    position: unset;
}

.box__content.box__inner h3 {
    font-size: 16px;
}

.card__box.music__box.optional__box.tab__inner {
    width: 287px;
    height: unset;
}



/* tablet page start */